@media screen and (max-width: 768px) {
  .navbar-brand {
    font-family: "Oi", cursive;
    font-size: 6vw;
  }

  .nav-link {
    font-size: 3vw;
    margin: auto;
  }

  .navbar-nav {
    margin: auto;
    width: fit-content;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
  .welcome-msg {
    font-size: 3vw;
  }
  .alert-container {
    height: 30vw;
    width: 90vw;
  }

  .register-form h1 {
    font-size: 6.5vw;
  }
  .register-form label {
    margin-bottom: 0;
    font-size: 4vw;
  }
  .register-form .btn {
    margin: auto;
    width: auto;
    height: auto;
  }

  .register-form .form-group {
    margin-bottom: 0.5rem;
  }

  /* login page */

  .register-form,
  .login-form {
    font-size: 4.5vw;
    width: 40vw;
    height: 70vw;
  }
  .login-form > button {
    width: auto;
    height: auto;
  }
  .login-form > h1 {
    font-size: 6.5vw;
  }
  .login-form label {
    font-size: 4vw;
  }
  .register-form-background,
  .login-form-background {
    width: 85vw;
    height: 85vw;
    border-radius: 28vw;
    margin: 15vh auto;
  }

  .my-masonry-grid_column {
    width: 42% !important;
  }
  .commentsShowbtn {
    font-size: 1vw;
    background-color: gainsboro;
  }

  .card {
    width: 10rem !important;
  }
  .hover-thought-card {
    left: 18%;
    width: 15rem !important;
  }

  .modal-dialog {
    height: 70vw !important;
  }
  .comments-modal .modal-title {
    font-size: 4vw;
  }

  .comments-modal .toast-header {
    font-size: 3vw;
    padding: 0rem 0.5rem;
  }
  .comments-modal .toast-body {
    padding: 0.5rem;
    font-size: 3.5vw;
  }
  .comments-modal .modal-content {
    width: 90vw;
    height: 80vw;
  }
  .comments-modal .modal-footer {
    padding: 0;
  }
  .comments-modal .modal-footer > button {
    font-size: 2vw;
  }
  .modal-footer form {
    height: 20vw !important;
  }
  .create-thought-container {
    height: 70vh;
  }
  .create-thought-container .thoughtTogglesBox {
    margin-top: 3vh !important;
  }
  .create-thought-container .card {
    margin: auto;
    width: 20rem !important;
    height: 10rem;
  }
}
