@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 6vw;
  }

  .navbar-nav {
    margin: auto;
    width: fit-content;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
  .welcome-msg {
    font-size: 1.5rem;
  }

  /* .commentsShowbtn {
    font-size: 1vw;
    background-color: gainsboro;
  } */
}
