@media screen and (max-width: 768px) {
  .navbar-brand {
    font-family: "Oi", cursive;
    font-size: 6vw;
  }

  .nav-link {
    font-size: 3vw;
    width: 15vw;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
  .welcome-msg {
    font-size: 2.5vw;
    margin: 2vw;
  }
  .alert-container {
    height: 30vw;
    width: 90vw;
  }
  .register-form-background {
    width: 75vw;
    height: 75vw;
    z-index: 2;
  }

  .register-form-background::before {
    width: 75vw;
    height: 75vw;
  }
  .register-form {
    font-size: 4.5vw;
    margin: 0 30%;
  }
  .register-form label {
    margin-bottom: 0;
  }
  .register-form > button {
    margin: auto;
    width: 50%;
  }

  /* login page */

  .login-form {
    font-size: 4.5vw;
    width: 40vw;
    height: 70vw;
  }
  .login-form-background {
    width: 95vw;
    height: 95vw;
    border-radius: 90vw;
  }
  .login-form-background::before {
    width: 95vw;
    height: 95vw;
    border-radius: 30vw;
  }
  .thought-box {
    word-break: break-all;
    padding: 1.5vw;
    font-size: 3vw;
    width: 25vw;
    height: 15vh;
  }
  .hover-thought-box {
    font-size: 2vw;
  }
}
