html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: inherit;
  width: inherit;
}
.App {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  font-family: "Oi", cursive;
  font-size: 2vw;
}
.nav-items {
  font-family: "Bebas Neue", cursive;
  font-size: 1vw;
  justify-content: flex-end !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: 5vw;
  margin: 0px 5px 0px 5px;
}
.nav-link:hover,
.nav-link.active {
  border-radius: 30px;
  background-color: rgba(246, 229, 141, 1);
}

.notes-container {
  width: 100%;
  height: 100%;
}

/* register page */
.register-container {
  display: flex;
  height: 90%;
  overflow: hidden;
}

.register-form-background {
  margin: auto;
  position: relative;
  width: 35vw;
  height: 35vw;
  z-index: 2;
  background-color: rgba(104, 109, 224, 1);
  box-shadow: 1px 1px 3px;
  border-radius: 10vw;
  animation: rotate-front-form 2s infinite;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

.register-form-background::before {
  content: "";
  width: 35vw;
  height: 35vw;
  background-color: rgba(34, 166, 179, 1);
  position: absolute;
  top: 0;
  border-radius: 10vw;
  box-shadow: 1px 1px 10px;
  z-index: -5;
  animation: rotate-back-form 3s infinite;
  animation-iteration-count: 1;
  transform: rotate(45deg);
}

@keyframes rotate-back-form {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(315deg);
  }
}

@keyframes rotate-front-form {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.register-form {
  margin: auto;
  font-family: "Bebas Neue", cursive;
  font-size: 1vw;
  padding: 8vw;
  display: grid;
  animation: show-up-register-form 1s infinite;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes show-up-register-form {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
