html {
  width: 100%;
  height: -webkit-fill-available;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: -webkit-fill-available;
  width: inherit;
}
#root {
  height: 100%;
}

.App {
  height: inherit;
  width: 100%;
}
.my-masonry-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  width: 20% !important;
  margin: 0px auto;
}
/* .my-masonry-grid_column > div {
  background: yellow;
  margin-bottom: 30px;
} */

.Loading {
  height: 100%;
  display: flex;
}
.spinner-border {
  margin: auto;
  width: 5vw;
  height: 5vw;
  border: 0.4em solid currentColor;
  border-right-color: transparent;
}
.welcome-msg {
  margin: auto;
}

.navbar-brand {
  font-family: "Oi", cursive;
  font-size: 2vw;
}
.nav-items {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3vw;
  justify-content: flex-end !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0px 5px 0px 5px;
}
.nav-link:hover,
.nav-link.active {
  border-radius: 30px;
  background-color: #f5c16d;
}

.notes-container {
  width: 100%;
  height: 100%;
}

/* register page */
.login-container,
.register-container {
  display: flex;
  height: 90%;
  overflow: hidden;
}

.register-form-background {
  margin: auto;
  display: flex;
  position: relative;
  width: 30vw;
  height: 30vw;
  z-index: 2;
  background-color: rgba(104, 109, 224, 1);
  box-shadow: 1px 1px 3px 1px;
  border-radius: 10vw;
  animation: rotate-front-form 2s infinite;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

.register-form-background::before {
  content: "";
  width: 30vw;
  height: 30vw;
  background-color: rgba(34, 166, 179, 1);
  position: absolute;
  top: 0;
  border-radius: 10vw;
  box-shadow: 1px 1px 10px 1px;
  z-index: -5;
  animation: rotate-back-form 3s infinite;
  animation-iteration-count: 1;
  transform: rotate(45deg);
}

.register-form > .btn {
  width: 50%;
  margin: 0 auto;
}

.register-form > h1 {
  margin: 0 auto;
}

@keyframes rotate-back-form {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(315deg);
  }
}

@keyframes rotate-front-form {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-form {
  animation: show-up-login-form 1s infinite;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transform: scale(0);
}
.login-form,
.register-form {
  margin: auto;
  font-family: "Bebas Neue", cursive;
  font-size: 1vw;
  width: 15vw;
  height: 20vw;
  display: grid;
}

@keyframes show-up-login-form {
  0% {
    opacity: 0;
    transform: scale(3.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* register page end */

/* login page */

.login-form-background::before {
  content: "";
  position: absolute;
  width: 30vw;
  height: 30vw;
  z-index: -10;
  background-color: #00cbf4;
  box-shadow: 1px 1px 3px 1px;
  border-radius: 10vw;
  top: 0;
  left: 0;
  animation: rotate-back-login 1.5s;
}
@keyframes rotate-back-login {
  0% {
    left: -100vw;
    transform: rotate(0);
  }
  100% {
    left: 0;
    transform: rotate(360deg);
  }
}

.login-form-background {
  margin: auto;
  display: flex;
  position: relative;
  width: 30vw;
  height: 30vw;
  background-color: #f5c16d;
  top: 0;
  border-radius: 30vw;
  box-shadow: 1px 1px 10px 1px;
}

.login-form > button {
  width: 10vw;
  height: 3vw;
  margin: auto;
}

/* login page end */

/* Home Page thoughts */
.home {
  display: flex;
  height: fit-content;
}
.thoughts-container {
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  width: max-content;
  height: max-content;
}

.thought-pick-icon {
  /* align-self: flex-end; */
  position: fixed;
  right: 0;
  display: block;
  margin: 0.5vw 0.5vw;
  cursor: pointer;
}

.commentsShowbtn {
  width: fit-content;
  bottom: 2%;
  left: 40%;
  padding: 0.2vw;
  font-size: 0.4vw;
  position: absolute;
}
/* .commentsShowbtn:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
} */

.thought-box {
  font-family: "Rubik", sans-serif;
  overflow-wrap: break-word;
  /* font-family: "Indie Flower", cursive; */
  /* font-size: 1.2vw; */
  /* box-shadow: 1px 1px 2px; */
  /* margin-top: 5vh; */
  padding: 0.5vw;
  min-height: 15vw;
  margin: 1vw 0px;
  display: flex;
  flex-flow: wrap;
  width: 20vw;
  /* border-radius: 8%; */
  flex-direction: column;
  transform: scale(1);
  transition: transform 0.8s ease;
}

.hover-thought-box {
  z-index: 3;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: scale(2) translate(-20%, -20%);
  transition: transform 1.2s ease;
  /* transition: font-size 10.2s ease; */
  font-size: 0.5vw;
}
.thought-text {
  position: relative;
  display: block;
  margin-top: 1vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
  width: 15vw;
  height: fit-content;
}
.thought-date {
  position: fixed;
  display: block;
  bottom: 0.5vw;
  left: 0.8vw;
}

.thought-owner {
  position: fixed;
  display: block;
  bottom: 0.5vw;
  right: 0.8vw;
}

/* Comments Modal */
.comments-modal {
  display: flex !important;
}

.modal-dialog {
  margin: auto;
  display: flex;
}
.modal-content {
  width: 40vw;
  height: 30vw;
  background: whitesmoke;
}

.toast-header .mr-auto {
  margin-left: 0.4vw;
}

.modal-header {
  padding: 0.5vw;
}
.modal-title {
  font-size: 1vw;
  margin-left: 1vw;
}
.modal-body {
  overflow-y: auto;
}
.modal-footer {
  padding: 0;
}
.modal-footer form {
  width: 100%;
}

.modal-footer button {
  margin: 0.3vw;
  float: right;
}

/* end of comments modal */

.create-thought-container {
  height: inherit;
  display: flex;
}

.create-thought-form-container {
  background-color: #b08df3;
  z-index: 1;
  top: 40%;
  left: -30%;
  margin: auto;
  padding: 10vw;
  border-radius: 1000px;
  width: 80vw;
  border: 60px solid #f4956e;
  animation: create-thought-border-glow 1.8s infinite;
}
.create-thought-form {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 35%;
  height: fit-content;
}

@keyframes create-thought-border-glow {
  0% {
    height: 30vw;
  }
  50% {
    height: 40vw;
  }
  100% {
    height: 30vw;
  }
}
