html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: inherit;
}
#root {
  height: 100%;
}

.App {
  height: inherit;
  width: 100%;
}

.alert-container {
  font-family: "Bebas Neue", cursive;
  height: 15vw;
  width: 40vw;
  margin: auto;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 20px 15px grey;
}

.alert-title {
  font-size: 2.5rem;
  position: relative;
  margin: 0 auto;
}
.alert-text {
  font-size: 1.5rem;
  margin: 0 auto;
}

.success {
  background-color: #78e08f;
  color: whitesmoke;
}

.failed {
  background-color: red;
  color: whitesmoke;
}

.Loading {
  height: 100%;
  display: flex;
}
.spinner-border {
  margin: auto;
  width: 5vw;
  height: 5vw;
  border: 0.4em solid currentColor;
  border-right-color: transparent;
}
.navbar-brand {
  font-family: "Oi", cursive;
  font-size: 2vw;
}
.nav-items {
  font-family: "Bebas Neue", cursive;
  font-size: 1vw;
  justify-content: flex-end !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: 5vw;
  margin: 0px 5px 0px 5px;
}
.nav-link:hover,
.nav-link.active {
  border-radius: 30px;
  background-color: rgba(246, 229, 141, 1);
}

.notes-container {
  width: 100%;
  height: 100%;
}

/* register page */
.login-container,
.register-container {
  display: flex;
  height: 90%;
  overflow: hidden;
}

.register-form-background {
  margin: auto;
  display: flex;
  position: relative;
  width: 35vw;
  height: 35vw;
  z-index: 2;
  background-color: rgba(104, 109, 224, 1);
  box-shadow: 1px 1px 3px 1px;
  border-radius: 10vw;
  animation: rotate-front-form 2s infinite;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

.register-form-background::before {
  content: "";
  width: 35vw;
  height: 35vw;
  background-color: rgba(34, 166, 179, 1);
  position: absolute;
  top: 0;
  border-radius: 10vw;
  box-shadow: 1px 1px 10px 1px;
  z-index: -5;
  animation: rotate-back-form 3s infinite;
  animation-iteration-count: 1;
  transform: rotate(45deg);
}

.register-form > .btn {
  width: 50%;
  margin: 0 auto;
}

.register-form > h1 {
  margin: 0 auto;
}

@keyframes rotate-back-form {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(315deg);
  }
}

@keyframes rotate-front-form {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-form,
.register-form {
  margin: auto;
  font-family: "Bebas Neue", cursive;
  font-size: 1vw;
  width: 20vw;
  height: 25vw;
  display: grid;
  animation: show-up-register-form 1s infinite;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes show-up-register-form {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* register page end */

/* login page */

.login-form-background::before {
  content: "";
  position: absolute;
  width: 35vw;
  height: 35vw;
  z-index: -10;
  background-color: rgba(0, 210, 211, 1);
  box-shadow: 1px 1px 3px 1px;
  border-radius: 10vw;
  top: 0;
  left: 0;
  animation: rotate-back-login 1.5s;
}
@keyframes rotate-back-login {
  0% {
    left: -100vw;
    transform: rotate(0);
  }
  100% {
    left: 0;
    transform: rotate(360deg);
  }
}

.login-form-background {
  margin: auto;
  display: flex;
  position: relative;
  width: 35vw;
  height: 35vw;
  background-color: rgba(254, 202, 87, 1);
  top: 0;
  border-radius: 30vw;
  box-shadow: 1px 1px 10px 1px;
}

/* login page end */

/* Home Page thoughts */
.home {
  display: flex;
}
.thoughts-container {
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  width: max-content;
  height: max-content;
}

.thought-box {
  overflow-wrap: break-word;
  font-family: "Indie Flower", cursive;
  font-size: 1.2vw;
  box-shadow: 3px 2px 10px;
  /* margin-top: 5vh; */
  margin: 0.8vw;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  width: 20vw;
  height: 25vh;
  border-radius: 20%;
  flex-direction: column;
  transform: scale(1);
  transition: transform 0.8s ease;
}
.hover-thought-box {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(3) translate(-20%, -20%);
  transition: transform 1.2s ease;
  /* transition: font-size 10.2s ease; */
  font-size: 0.5vw;
}
.thought-text {
  margin-top: 1vw;
  margin-left: 2vw;
  height: fit-content;
}

.thought-owner {
  align-self: flex-end;
  margin: 0.5vw auto;
}
