html {
  width: 100%;
  height: -webkit-fill-available;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: -webkit-fill-available;
  width: inherit;
  background-color: #2c3e50;
}
#root {
  height: 100%;
}

.my-masonry-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  width: 20% !important;
  margin: 0px auto;
}
/* .my-masonry-grid_column > div {
  background: yellow;
  margin-bottom: 30px;
} */

.Loading {
  height: 100%;
  display: flex;
}
.spinner-border {
  margin: auto;
  width: 5vw;
  height: 5vw;
  border: 0.4em solid currentColor;
  border-right-color: transparent;
}
.welcome-msg {
  color: whitesmoke;
  margin: auto 1vw;
}

.navbar {
  background-color: #2c3e50;
  border-bottom: 1px solid;
}
.navbar-brand {
  font-family: "Rubik", sans-serif;
  font-size: 2vw;
  color: whitesmoke !important;
}
.nav-items {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3vw;
  justify-content: flex-end !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0px 5px 0px 5px;
}
.nav-link:hover,
.nav-link.active {
  border-radius: 30px;
  background-color: #f5c16d;
}

.notes-container {
  width: 100%;
  height: 100%;
}

/* register page */
.login-container,
.register-container {
  display: flex;
  height: 90%;
  overflow: hidden;
}

.register-form-background {
  margin: auto;
  display: flex;
  position: relative;
  width: 30vw;
  height: 30vw;
  z-index: 2;
  background-color: rgba(104, 109, 224, 1);
  box-shadow: 1px 1px 3px 1px;
  border-radius: 10vw;
  animation: rotate-front-form 1.5s infinite;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

/* .register-form-background::before {
  content: "";
  width: 30vw;
  height: 30vw;
  background-color: rgba(34, 166, 179, 1);
  position: absolute;
  top: 0;
  border-radius: 10vw;
  box-shadow: 1px 1px 10px 1px;
  z-index: -5;
  animation: rotate-back-form 3s infinite;
  animation-iteration-count: 1;
  transform: rotate(45deg);
} */

.register-form > .btn {
  width: 50%;
  margin: 0 auto;
}

@keyframes rotate-front-form {
  0% {
    left: 100vw;
    transform: rotate(360deg);
  }
  100% {
    left: 0;
    transform: rotate(0);
  }
}

@keyframes show-up-login-form {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-form,
.register-form {
  animation: show-up-login-form 4s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: auto;
  font-family: "Bebas Neue", cursive;
  font-size: 1vw;
  width: 15vw;
  display: grid;
}

/* register page end */

/* login page */

.login-form-background {
  display: flex;
  position: relative;
  width: 30vw;
  height: 30vw;
  background-color: #f5c16d;
  box-shadow: 1px 1px 3px 1px;
  border-radius: 10vw;
  margin: auto;
  animation: rotate-back-login 1.5s;
}
@keyframes rotate-back-login {
  0% {
    left: -100vw;
    transform: rotate(0);
  }
  100% {
    left: 0;
    transform: rotate(360deg);
  }
}

/* .login-form-background {
  margin: auto;
  display: flex;
  position: relative;
  width: 30vw;
  height: 30vw;
  background-color: #f5c16d;
  top: 0;
  border-radius: 30vw;
  box-shadow: 1px 1px 10px 1px;
} */

.login-form > button {
  width: 10vw;
  height: 3vw;
  margin: auto;
}

/* login page end */

/* Home Page thoughts */
.home {
  display: flex;
  height: fit-content;
}
.thoughts-container {
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  width: max-content;
  height: max-content;
}

/* .commentsShowbtn:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
} */
.card {
  width: 18rem;
  margin: 1vw 0;
  background-color: #e1e5e7;
  transform: scale(1);
  transition: transform 0.8s ease;
  animation: show-up-login-form 0.8s;
}

.card-body {
  display: flex;
  flex-direction: column;
}

/* hover-card */
.hover-thought-card {
  z-index: 3;
  position: absolute !important;
  top: 25%;
  left: 40%;
  transform: scale(1.5);
  transition: transform 1.2s ease;
  /* , top 1.2s ease, left 1.2s ease; */
  /* transition: font-size 10.2s ease; */
}

.thoughtTogglesBox {
  display: flex;
}
.toggleThoughtBtn,
.toggleCommentsBtn {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  font-size: 0.6rem;
  /* position: absolute; */
}

.card-subtitle {
  font-size: 0.8rem;
  display: block;
  width: fit-content;
  align-self: flex-end;
}

/* Comments Modal */
.comments-modal {
  display: flex !important;
}

.modal-dialog {
  margin: auto;
  display: flex;
}
.modal-content {
  width: 40vw;
  height: 30vw;
  background: whitesmoke;
}

.toast-header .mr-auto {
  margin-left: 0.4vw;
}

.modal-header {
  padding: 0.5vw;
}
.modal-title {
  font-size: 1vw;
  margin-left: 1vw;
}
.modal-body {
  overflow-y: auto;
}
.modal-footer {
  padding: 0;
}
.modal-footer form {
  width: 100%;
}

.modal-footer button {
  margin: 0.3vw;
  float: right;
}

/* end of comments modal */

.create-thought-container {
  height: inherit;
  display: flex;
}

.create-thought-container .card {
  margin: auto;
  width: 25rem;
  height: 10rem;
}
.create-thought-container .thoughtTogglesBox {
  margin-top: auto;
}
@keyframes create-thought-border-glow {
  0% {
    height: 30vw;
  }
  50% {
    height: 40vw;
  }
  100% {
    height: 30vw;
  }
}
