html {
  width: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: -webkit-fill-available;
  width: inherit;
}
#root {
  height: 100%;
}

.App {
  height: inherit;
  width: 100%;
}
.welcome-container {
  margin: auto;
  height: 70vh;
  width: 80vw;
  margin-bottom: 5vw;
  box-shadow: 1px 1px 10px;
  display: flex;
  flex-direction: row;
  background-color: #e98131;
  border-top-left-radius: 100vw;
  border-top-right-radius: 100vw;
  margin-top: 5vw;
  transition: border-radius 0.8s linear;
}
.welcome-logo-img {
  width: 20vw;
  height: 20vw;
  margin-left: 10vw;
}
.welcome-subcontainer {
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 20vw;
  margin-left: 5vw;
  color: white;

  display: flex;
  flex-direction: column;
}
.welcome-title {
  font-size: 4.5rem;
}
.welcome-text {
  font-size: 1.3rem;
}
.welcome-start-link {
  width: max-content;
  margin-top: 1vw;
  margin-left: auto;
}
.welcome-start {
  width: 8vw;
  border: none;
  font-size: 0.8rem;
  color: whitesmoke;
  border-radius: 1vw;
  background-color: #28a745;
  height: 2.2vw;
}
.welcome-start:hover {
  filter: brightness(0.8);
}

.my-masonry-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  width: 20% !important;
  margin: 0px auto;
}

.Loading {
  height: 100%;
  display: flex;
}
.spinner-border {
  margin: auto;
  width: 5vw;
  height: 5vw;
  border: 0.4em solid currentColor;
  border-right-color: transparent;
}

.home {
  flex-direction: column;
  display: flex;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .my-masonry-grid_column {
    width: 42% !important;
  }
  .navbar-brand {
    font-size: 6vw;
  }

  .nav-link {
    font-size: 3vw;
    margin: auto;
  }

  .navbar-nav {
    margin: auto;
    width: fit-content;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
  .welcome-msg {
    font-size: 3vw;
  }
}
