html {
  width: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: -webkit-fill-available;
  width: inherit;
}
#root {
  height: 100%;
}

.App {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.welcome-component {
  background-color: rgba(155, 89, 182, 0.85);
  height: 100vh;
}
.welcome-container {
  margin: auto;
  height: 75vh;
  width: 80vw;
  margin-bottom: 5vw;
  box-shadow: 1px 1px 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(233, 129, 49);
  border-top-left-radius: 100vw;
  border-top-right-radius: 100vw;
  margin-top: 5vw;
  transition: border-radius 0.8s linear;
}

.welcome-logo-img {
  width: 20vw;
  height: 20vw;
  margin-left: 10vw;
  animation: scaling 2s;
}

@keyframes scaling {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.welcome-subcontainer {
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 20vw;
  margin-left: 5vw;
  color: white;

  display: flex;
  flex-direction: column;
}
.welcome-title {
  font-size: 4.5rem;
}
.welcome-text {
  font-size: 1.3rem;
}
.welcome-start-link {
  width: max-content;
  margin-top: 1vw;
  margin-left: auto;
}
.welcome-start {
  width: 8vw;
  border: none;
  font-size: 0.8rem;
  color: whitesmoke;
  border-radius: 1vw;
  background-color: #28a745;
  height: 2.2vw;
}
.welcome-start:hover {
  filter: brightness(0.8);
}

.my-masonry-grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  display: flex;
  flex-direction: column;
  margin: 0px 2vw;
  background-clip: padding-box;
  width: 20% !important;
}

.Loading {
  height: 100%;
  display: flex;
}
.spinner-border {
  margin: auto;
  width: 5vw;
  height: 5vw;
  border: 0.4em solid currentColor;
  border-right-color: transparent;
}

.home {
  flex-direction: column;
  display: flex;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .welcome-container {
    flex-direction: column;
  }
  .welcome-title {
    font-size: 3.5rem;
  }
  .welcome-text {
    font-size: 0.8rem;
  }
  .welcome-start-link {
    margin: 15vw auto;
  }
  .welcome-start {
    border-radius: 20vw;
    width: 35vw;
    height: 35vw;
    box-shadow: 1px 1px 10px darkslategrey;
    transition: width 0.8s linear, height 0.8s linear, border-radius 0.8s linear;
  }
  .welcome-start:hover {
    box-shadow: none;
  }
  .my-masonry-grid_column {
    width: 45vw !important;
  }

  .navbar-brand {
    font-size: 6vw;
  }

  .navbar-nav {
    margin: auto;
    width: fit-content;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
  .welcome-msg {
    font-size: 1.4rem;
    margin: auto;
  }
  .nav-link {
    font-size: 1.2rem;
    margin: auto;
  }
}
