.chatnav-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 10vw;
  height: 5vh;
  transition: bottom 0.3s ease;
  background-color: rgba(47, 79, 79, 0.6);
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
}

.chat-icon {
  width: 3vw;
  height: 4vh;
}
.chat-icon:hover {
  color: whitesmoke;
}

.hide-chat-icon {
  bottom: -5vh !important;
}
