.welcome-msg {
  color: rgba(155, 89, 182, 0.85);
  font-weight: 700;
  margin: auto 1vw;
}

.navbar {
  background-color: transparent;
  border-bottom: 1px solid;
  border: none;
}

.navbar-brand {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5rem !important;
  color: darkslategrey !important;
  outline: none;
}
.nav-items {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3vw;
  justify-content: flex-end !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0px 5px 0px 5px;
}
.nav-link:hover,
.nav-link.active {
  border-radius: 30px;
  background-color: rgba(233, 129, 49, 0.8);
}
