.profile-container {
  display: flex;
  height: inherit;
}
.profile-ticket {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  height: min-content;
  margin: auto;
  box-shadow: 1px 1px 10px darkslategrey;
}
.profile-ticket form {
  height: inherit;
  width: inherit;
  display: inherit;
  flex-direction: inherit;
}
.profile-ticket .card {
  border-radius: unset !important;
  width: 50vw;
  height: 30vw;
  margin: 0 !important;
}
.profile-id {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.profile-id .profile-img-uploader {
  border-radius: 5vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* border: silver 10px solid; */
  box-shadow: 0px 10px 50px 10px grey;
  /* border: rgba(245, 193, 109, 0.6) 10px solid; */
  width: 10vw;
  height: 10vw;
  align-self: center;
  margin: 1.2vw auto;
  font-weight: 500;
}

.profile-id .img-attempt-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0.8vw auto;
}
.profile-id .profile-img-attempt-delete {
  position: relative;
  margin-left: auto;
  width: 1.2vw;
  height: 1.2vw;
  cursor: pointer;
  color: rgb(212, 30, 30);
}

.profile-id .profile-image-uploader-icon {
  margin-bottom: 0.5vw;
  height: 2vw;
  width: 2vw;
}

.profile-id .card-img-top {
  border-radius: 5vw;
  /* border: silver 10px solid; */
  box-shadow: 0px 10px 50px 10px grey;
  /* border: rgba(245, 193, 109, 0.6) 10px solid; */
  width: 10vw;
  height: 10vw;
  margin: 1.2vw auto;
}

.profile-id .basic-details {
  font-size: 1.5rem;
  margin: auto;
}

.profile-about {
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
  height: -webkit-fill-available;
}

.profile-about .contact-info {
  margin-top: 2vw;
}

.profile-about .contact-info-details {
  display: flex;
  flex-direction: column;
}

.profile-about .card-text {
  margin: 0;
}

.edit-btn {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 15vw;
  bottom: 2vw;
}

@media screen and (max-width: 768px) {
  .profile-ticket {
    flex-direction: column;
    width: 80vw;
    box-shadow: 1px 1px 7px 1px white;
  }
  .profile-ticket .profile-id {
    width: auto;
  }

  .profile-id .profile-img-attempt-delete {
    height: 5vw;
    width: 5vw;
  }
  .profile-id .card-img-top {
    width: 40vw;
    height: 40vw;
    border-radius: 40vw;
  }

  .profile-id .profile-img-uploader {
    border-radius: 40vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* border: silver 10px solid; */
    box-shadow: 0px 10px 50px 10px grey;
    /* border: rgba(245, 193, 109, 0.6) 10px solid; */
    width: 40vw;
    height: 40vw;
    margin: 2vw auto !important;
    font-weight: 500;
  }

  .profile-id .profile-image-uploader-icon {
    width: 8vw;
    height: 8vw;
    border-radius: 8vw !important;
  }
  .profile-id .basic-details {
    text-align: center;
  }
  .profile-ticket .card {
    width: auto !important;
    height: auto;
    margin: 0 !important;
  }

  .contact-info-details button {
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
    width: auto;
    margin: 1vw;
  }
}
