.mythoughts-title {
  color: #aa72c1;
  font-family: "Bebas Neue", cursive;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 10vh;
  font-size: 3.5rem;
  width: fit-content;
  margin: 2vw auto;
  border: #f5c16d solid;
  /* border-bottom: 1vw; */
  border-top: 0px;
  border-radius: 20vw;
}
.mythoughts-container #Thoughts {
  margin-top: 3vw;
}
#Thoughts {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
}
.create-thought-main-container {
  margin-bottom: 5vw;
  display: flex;
  flex-direction: row;

  justify-content: center;
}
.create-thought-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  /* margin-left: 3vw;
  margin-bottom: 10vw; */
  height: max-content;
  border: none !important;
  border-radius: 15vw !important;
  background-color: darkslategrey !important;
  height: 20vw !important;
  width: 50vw;
  justify-content: center !important;
}

.create-thought-welcome {
  font-family: "Montserrat Alternates", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  place-content: space-evenly;
}
.create-thought-welcome-button {
  width: 10vw;
  height: 4vw;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  background-color: #aa72c1 !important;
  border: none !important;
  display: flex !important;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
}
.create-thought-welcome-button:hover {
  box-shadow: 0px 0px 5px 3px white !important;
}
.create-thought-container .card-body {
  flex-direction: row;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  width: auto;
}

.create-thought-container .thoughtTogglesBox {
  margin: auto;
}
.thinking-man-img {
  position: relative;
  margin-left: 10vw;
  height: 30vh;
}
.thought-box {
  margin: 1vw 0vw;
  min-height: 24vh !important;
  width: 18rem;
  transform: scale(1);
  transition: transform 0.8s ease;
  animation: show-up-login-form 0.8s;
}
.thought-box svg {
  z-index: 3;
  cursor: pointer;
}

.thought-box .thought-menu {
  transition: all 0.5s linear;
  display: flex;
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: darkslategray;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.thought-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.thought-menu li {
  margin: 0.5vw 0;
  color: white;
  width: 100%;
}
.thought-menu-item {
  margin: auto;
  width: 100%;
  cursor: pointer;
}
.thought-menu-item:hover {
  background-color: #e98131;
}
.thought-box .card-body {
  min-height: 20vh !important;
  background-color: aliceblue !important;
  padding: 0 !important;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body p {
  /* color: white; */
}

/* hover-card */
.hover-thought-card {
  z-index: 3;
  position: absolute !important;
  /* top: 200%;
  left: 40%; */
  transform: scale(2) translate(10px, 200px);
  transition: transform 1.2s ease;
  /* , top 1.2s ease, left 1.2s ease; */
  /* transition: font-size 10.2s ease; */
}

.thoughtTogglesBox {
  display: flex;
  margin-top: 3vw;
}
.toggleThoughtBtn,
.toggleCommentsBtn {
  border-radius: 0 !important;
  font-weight: 900 !important;
  width: 100%;
  position: relative;
  font-size: 0.65rem !important;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  /* position: absolute; */
}

.card-subtitle {
  font-size: 0.8rem !important;
  padding-left: 0.8vw;
  padding-right: 0.5vw;
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: center;
  place-content: space-between;
  /* background-color: rgba(155, 89, 182, 0.85); */
  background-color: darkslategrey;
  width: 100%;
  color: white;
  margin-top: 0 !important;
}

/* Comments Modal */
.comments-modal {
  display: flex !important;
}
.thoughtTogglesBox button {
  font-size: 0.8rem;
}
.hover-thought-card .thoughtTogglesBox button {
  font-size: 0.5rem;
  width: auto;
}

.hover-thought-card .card-subtitle {
  font-size: 0.8rem;
}
.modal-dialog {
  margin: auto;
  display: flex;
}

.modal-dialog form button {
  font-size: 0.8rem;
}
.modal-content {
  width: 40vw !important;
  height: 30vw;
  background: whitesmoke;
}

.toast-header .mr-auto {
  margin-left: 0.4vw;
}

.modal-header {
  padding: 0.5vw;
}
.modal-title {
  font-size: 1vw;
  margin-left: 1vw;
}
.modal-body {
  overflow-y: auto;
}
.modal-footer {
  padding: 0;
}
.modal-footer form {
  width: 100%;
}

.modal-footer button {
  margin: 0.3vw;
  float: right;
}

.create-thought-container .card {
  margin: auto;
  width: 25rem;
  height: 10rem;
  border-radius: 10vw;
}
.create-thought-container form {
  height: min-content;
  margin: auto;
}
.card .card-text {
  width: 40vw;
  margin: auto;
}
.create-thought-container .thoughtTogglesBox {
  margin-top: 4vw;
  height: 3vw;
  width: 8vw;
}
.thoughtTogglesBox .toggleThoughtBtn {
  font-size: 0.8rem !important;
}
@keyframes create-thought-border-glow {
  0% {
    height: 30vw;
  }
  50% {
    height: 40vw;
  }
  100% {
    height: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .create-thought-main-container {
    flex-direction: column;
  }
  .create-thought-container {
    height: 45vw !important;
    margin: 0;
    align-items: center;
    width: 100%;
    border-radius: 0px !important;
  }
  .create-thought-container .card-body {
    width: auto !important;
    flex-direction: column;
  }
  .create-thought-container .card-text {
    width: 80vw;
  }
  .create-thought-container .thoughtTogglesBox {
    margin-top: 3vh !important;
    width: 20vw;
    height: 5vh;
  }
  .thoughtTogglesBox button {
    border-radius: 15vw !important;
  }
  .thinking-man-img {
    margin: 0 !important;
    height: 20vh;
  }

  .welcome-logo-img {
    width: 40vw !important;
    height: 40vw !important;
    margin-left: 0vw !important;
    margin-right: 10vw !important;
  }
  .thought-menu ul {
    margin: 0px auto;
  }
  .thought-menu li {
    margin: 4vw auto;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .welcome-subcontainer {
    margin: 0vw !important;
  }
  .welcome-title {
    margin-left: 5vw;
  }
  .welcome-text {
    margin-left: 5vw;
  }
  .thought-box {
    width: 10rem !important;
    margin: 2vw 1vw;
  }

  .thought-box .card-subtitle {
    height: 3vw;
    font-size: 0.45rem !important;
  }

  .hover-thought-card {
    left: 18%;
    width: 15rem !important;
  }

  .modal-dialog {
    margin: auto !important;
    height: 70vw !important;
    width: auto !important;
  }
  .modal-content {
    width: 90vw !important;
  }
  .comments-modal .modal-title {
    font-size: 4vw;
  }

  .comments-modal .toast-header {
    font-size: 3vw;
    padding: 0rem 0.5rem;
  }
  .comments-modal .toast-body {
    padding: 0.5rem;
    font-size: 3.5vw;
  }
  .comments-modal .modal-content {
    width: 90vw;
    height: 80vw;
  }
  .comments-modal .modal-footer {
    padding: 0;
  }
  .comments-modal .modal-footer > button {
    font-size: 2vw;
  }
  .modal-footer form {
    height: 20vw !important;
  }
  .create-thought-container {
    height: 70vh;
  }

  .create-thought-container .card {
    margin: auto;
    width: 20rem !important;
    height: 10rem;
  }
}
